@function getTransitions($props, $type: 'fast') {
  $typeMap: ('fast': $transition-time-fast, 'regular': $transition-time-regular, 'slow': $transition-time-slow);

  $list: ();
  @each $prop in $props {
    $list: append($list, ($prop map-get($typeMap, $type) $transition-function));
  }

  @return zip($list);
}
