$color-primary: #515151;
$color-grey-light: #f5f5f5;
$color-grey: #cecece;
$color-blue: #5390ea;
$color-blue-dark: #4d83d4;
$color-red: #F91155;
$color-white: #FFFFFF;

$font-size-desktop: 16;

$font-stack: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Helvetica, sans-serif;

$transition-function: ease;
$transition-time-fast: 0.2s;
$transition-time-regular: 0.4s;
$transition-time-slow: 0.8s;
