<template>
  <transition name="fade">
    <div v-if="active" class="alert">
      <div class="content">
        <div class="text">
          <slot />
        </div>
        <div class="controls">
          <ui-button full-width @click="handleClick">OK</ui-button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import UiButton from '@/components/common/button.vue';

@Component({
  components: { UiButton },
})
export default class UiAlert extends Vue {
  @Prop({ type: Boolean, default: false }) active!: boolean;

  handleClick(): void {
    this.$emit('update:active', false);
  }
}
</script>

<style scoped lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.alert {
  width: 100%;
  height: 100%;
  background: rgba($color-grey, 0.75);
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  .content {
    background: $color-white;
    padding: 1.5rem 2.5rem;
    font-size: 1.25rem;
    border-radius: 0.25rem;

    .text {
      margin-bottom: 1.5rem;
    }

    .controls {
      display: flex;
      justify-content: center;
    }
  }
}
</style>
