<template>
  <div
    :class="{
      [$style.button]: true,
      [$style._active]: active,
      [$style._fullWidth]: fullWidth,
      [$style[`_${type}`]]: true,
      [$style._loading]: loading,
    }"
    @click="handleClick"
  >
    <slot />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class UiButton extends Vue {
  @Prop({ type: Boolean, default: false }) active!: boolean;
  @Prop({ type: Boolean, default: false }) fullWidth!: boolean;
  @Prop({ type: String, default: false }) type!: 'regular' | 'primary';
  @Prop({ type: Boolean, default: false }) loading!: boolean;

  handleClick(): void {
    if (this.loading) return;
    this.$emit('click');
  }
}
</script>

<style module lang="scss">
@keyframes blink {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 0.75;
  }
}

.button {
  border: 1px solid $color-grey-light;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  display: inline-flex;
  align-self: flex-start;
  box-shadow: $color-grey 0 0.25rem 0.5rem;
  cursor: pointer;
  transition: getTransitions(box-shadow background-color color font-weight);
  user-select: none;
  justify-content: center;

  &:hover {
    box-shadow: $color-grey 0 0.125rem 0.25rem;
  }

  &._regular {
    background-color: $color-white;
  }

  &._primary {
    background-color: $color-blue;
    color: $color-white;
    border-color: $color-blue;
  }

  &._active {
    color: $color-white;
    box-shadow: $color-grey 0 0 0;
    background-color: $color-blue;
    font-weight: bold;
  }

  &._fullWidth {
    width: 100%;
  }

  &._loading {
    animation: blink 0.8s;
    animation-timing-function: ease;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    cursor: not-allowed;
  }
}
</style>
