<template>
  <div :class="$style.inputWrapper" tabindex="1" @click="handleWrapperClick">
    <div :class="$style.slot">
      <slot name="left" />
    </div>
    <input
      ref="input"
      :value="value"
      :class="$style.input"
      @keypress="handleKeyPress"
      @input="handleInput"
      @blur="handleBlur"
    />
    <div :class="$style.slot">
      <slot name="right" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class UiInput extends Vue {
  @Prop({ type: [String, Number], default: '' }) value!: string | number;
  @Prop({ type: String, default: 'text' }) type!: 'text' | 'number';

  get isNumber(): boolean {
    return this.type === 'number';
  }

  handleInput(e: Event): void {
    const { value } = e.target as HTMLInputElement;
    this.emitValue(this.prepareValue(value));
  }

  handleKeyPress(e: KeyboardEvent): void {
    if (this.isNumber && Number.isNaN(Number(e.key))) return e.preventDefault();
  }

  handleWrapperClick(): void {
    (this.$refs.input as HTMLInputElement).focus();
  }

  handleBlur(): void {
    this.$emit('blur');
  }

  emitValue(value: this['value']): void {
    this.$emit('input', value);
  }

  prepareValue(value: string): this['value'] {
    if (!value) return '';
    if (this.isNumber) return Number(value);

    return value;
  }
}
</script>

<style module lang="scss">
.inputWrapper {
  border: 1px solid $color-grey;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  transition: getTransitions(border-color color);
  display: inline-flex;
  padding: 1rem;
  cursor: text;
  align-self: flex-start;

  .slot {
    font-size: 1.25rem;
    display: flex;
  }

  &:focus-within,
  &:focus {
    border-color: $color-primary;
  }

  .input {
    border: none;
    font-size: 2rem;
    color: $color-blue;
    margin-left: 0.5rem;
    cursor: pointer;
    width: 100%;

    &:focus {
      outline: none;
      cursor: text;
      color: $color-primary;
    }
  }
}
</style>
