<template>
  <div :class="$style.selectWrapper" @click.stop="handleWrapperClick">
    <select
      ref="select"
      :class="$style.select"
      @click.stop
      @change="handleSelect"
    >
      <option v-for="option in options" :key="option.value">
        {{ option.label || option.value }}
      </option>
    </select>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

export type Option = {
  value: string | number;
  label?: string;
};

@Component
export default class UiSelect extends Vue {
  @Prop({ type: [String, Number] }) value!: Option['value'];
  @Prop({ type: Array, default: () => [] }) options!: Option[];

  handleSelect(e: Event): void {
    this.$emit('input', (e.target as HTMLSelectElement).value);
  }

  handleWrapperClick(): void {
    (this.$refs.select as HTMLSelectElement).focus();
  }
}
</script>

<style module lang="scss">
.selectWrapper {
  display: flex;
  align-items: center;

  .select {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding-right: 1.25rem;
    height: 100%;

    &:focus {
      outline: none;
    }
  }

  &::after {
    content: '▼';
    font-size: 0.75rem;
    margin-left: -1rem;
  }
}
</style>
