<template>
  <div :class="$style.app">
    <pay-form />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import PayForm from '@/components/pay-form/index.vue';

@Component({
  components: { PayForm },
})
export default class App extends Vue {}
</script>

<style module lang="scss">
.app {
  display: flex;
  justify-content: center;
}
</style>
