<template>
  <div :class="$style.amountPresets">
    <ui-button
      v-for="(preset, index) in presets"
      :key="index"
      :active="isActive(preset)"
      :class="$style.preset"
      @click="updateAmount(preset)"
      >{{ currency.symbol }}{{ preset | formatCurrency }}</ui-button
    >
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import UiButton from '@/components/common/button.vue';
import { CurrencyItem } from '@/types';

@Component({
  components: { UiButton },
  filters: {
    // Not using style: 'currency', because currency symbols are defined earlier and may differ per browser
    formatCurrency: (amount: number) => amount.toLocaleString('en-US'),
  },
})
export default class AmountPresets extends Vue {
  @Prop({ type: [Number, String] }) amount!: number;
  @Prop({ type: Object }) currency!: CurrencyItem;
  @Prop({ type: Array, default: () => [] }) presets!: number[];

  isActive(amount: number): boolean {
    return amount === this.amount;
  }

  updateAmount(amount: number): void {
    this.$emit('change', amount);
  }
}
</script>

<style module lang="scss">
.amountPresets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .preset {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
</style>
