<template>
  <ui-input
    :value="value"
    :class="$style.input"
    @input="handleInput"
    @blur="handleBlur"
    type="number"
  >
    <label slot="left" :class="$style.currencyLabel">{{
      currencySymbol
    }}</label>
    <ui-select
      slot="right"
      :value="currency"
      :options="currencyOptions"
      @input="handleCurrencyChange"
    />
  </ui-input>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import UiInput from '@/components/common/input.vue';
import { currencies, suggestion } from '@/constants';
import UiSelect, { Option } from '@/components/common/select.vue';
import { CurrencyItem } from '@/types';
import { convertCurrency, getCurrencyData } from '@/helpers';

@Component({
  components: { UiInput, UiSelect },
})
export default class AmountInput extends Vue {
  @Prop({ type: [Number, String], default: suggestion }) value!: number;
  @Prop({ type: String, default: currencies[0].code })
  currency!: CurrencyItem['code'];

  get currencyOptions(): Option[] {
    return currencies.map(({ code: value }) => ({ value }));
  }

  get currencySymbol(): CurrencyItem['symbol'] {
    return getCurrencyData(this.currency).symbol;
  }

  handleInput(value: number): void {
    this.$emit('update:modified', true);
    this.emitValue(value);
  }

  handleBlur(): void {
    if (this.value) return;
    this.emitValue(suggestion);
  }

  handleCurrencyChange(newCurrency: CurrencyItem['code']): void {
    this.emitValue(
      Math.round(convertCurrency(this.value, this.currency, newCurrency))
    );

    this.$emit('update:currency', newCurrency);
  }

  emitValue(value: number): void {
    this.$emit('input', value);
  }
}
</script>

<style module lang="scss">
.input {
  .currencyLabel {
    display: flex;
    align-items: center;
  }
}
</style>
