<template>
  <div :class="$style.payForm">
    <div :class="$style.formItem">
      <amount-presets
        :amount="amount"
        :currency="currencyData"
        :presets="presets"
        @change="handlePresetChange"
      />
    </div>
    <div :class="$style.formItem">
      <amount-input
        v-model="amount"
        :currency="currency"
        :modified.sync="modified"
        @update:currency="handleCurrencyUpdate"
      />
    </div>
    <div :class="$style.formItem">
      <ui-button
        :loading="loading"
        @click="handleSubmitClick"
        type="primary"
        full-width
      >
        <b>Donate</b>
      </ui-button>
    </div>
    <ui-alert :active.sync="showAlert">
      {{ error || 'Thank you for your donation!' }}
    </ui-alert>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import AmountInput from '@/components/pay-form/amount-input.vue';
import AmountPresets from '@/components/pay-form/amount-presets.vue';
import UiButton from '@/components/common/button.vue';
import UiAlert from '@/components/common/alert.vue';
import { currencies, presets, suggestion } from '@/constants';
import { getCurrencyData, roundByRules } from '@/helpers';
import { CurrencyItem } from '@/types';
import { api } from '@/api';

@Component({
  components: { AmountPresets, AmountInput, UiButton, UiAlert },
})
export default class PayForm extends Vue {
  amount = suggestion;
  currency = currencies[0].code;
  modified = false;
  showAlert = false;
  loading = false;
  error = '';

  get currencyData(): CurrencyItem {
    return getCurrencyData(this.currency);
  }

  get presets(): number[] {
    return presets.map((preset) =>
      roundByRules(preset * this.currencyData.rate)
    );
  }

  handlePresetChange(amount: number): void {
    this.setAmount(amount);
  }

  handleCurrencyUpdate(currency: CurrencyItem['code']): void {
    this.currency = currency;
    if (!this.modified) this.setAmount(this.presets[0]);
  }

  setAmount(amount: number): void {
    this.amount = amount;
  }

  async handleSubmitClick(): Promise<void> {
    this.error = '';
    this.loading = true;
    try {
      await api.payments.donate(this.amount, this.currency);
      this.showAlert = true;
    } catch (e) {
      this.error = e;
      this.showAlert = true;
    } finally {
      this.loading = false;
    }
  }
}
</script>

<style module lang="scss">
.payForm {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 1rem;
  max-width: 400px;
  padding: 1rem;

  .formItem {
    display: block;
  }
}
</style>
